{% extends 'base.html' %} {% block content %}

<link rel="stylesheet" href="{{ url_for('static', filename='css/search.css') }}">

<div>
      <form action="{{ url_for('open_art_web_viewer_lite.search') }}" method="get">
        <div class="search-container">
            <div class="search-row">
                <input type="text" class="search-input" name="query" value="{{ query }}" placeholder="Enter search term">
                <button type="submit" class="search-button">Search</button>
              </div>
          <div class="select-row">
            <select class="form-select" name="art_type" id="art_type">
              <option value="all" {% if art_type == 'all' %}selected{% endif %}>Any Art</option>
              <option value="Print" {% if art_type == 'Print' %}selected{% endif %}>Print (46104)</option>
              <option value="Index of American Design" {% if art_type == 'Index of American Design' %}selected{% endif %}>Index of American Design (18245)</option>
              <option value="Drawing" {% if art_type == 'Drawing' %}selected{% endif %}>Drawing (13920)</option>
              <option value="Photograph" {% if art_type == 'Photograph' %}selected{% endif %}>Photograph (13467)</option>
              <option value="Painting" {% if art_type == 'Painting' %}selected{% endif %}>Painting (8878)</option>
              <option value="Sculpture" {% if art_type == 'Sculpture' %}selected{% endif %}>Sculpture (6569)</option>
              <option value="Volume" {% if art_type == 'Volume' %}selected{% endif %}>Volume (869)</option>
              <option value="Decorative Art" {% if art_type == 'Decorative Art' %}selected{% endif %}>Decorative Art (751)</option>
              <option value="Portfolio" {% if art_type == 'Portfolio' %}selected{% endif %}>Portfolio (247)</option>
              <option value="Technical Material" {% if art_type == 'Technical Material' %}selected{% endif %}>Technical Material (57)</option>
              <option value="Time Based Media Art" {% if art_type == 'Time Based Media Art' %}selected{% endif %}>Time-Based Media Art (5)</option>
            </select>
            <select class="form-select" name="search_type" id="search_type">
              <option value="title" {% if search_type == 'title' %}selected{% endif %}>Title</option>
              <option value="attribution" {% if search_type == 'attribution' %}selected{% endif %}>Attribution</option>
              <option value="displaydate" {% if search_type == 'displaydate' %}selected{% endif %}>Display Date</option>
            </select>
          </div>
        </div>
      </form>

  {% if query %}

  <div class="search-results-container">
    <h4 class="search-results-header">
      <span class="search-query">Search Results for <b>"{{ query }}"</b></span>
      <span class="search-stats">
        <span class="total-results"
          >Total Results: <b>{{ total }}</b> results</span
        >
        <span class="search-type">Search Type: <b>{{ search_type }}</b></span>
        <span class="art-type">Art Type: <b>{{ art_type }}</b></span>
      </span>
    </h4>
  </div>

  <div
    id="results-container"
    class="row g-4"
    data-total="{{ total }}"
    data-per-page="{{ per_page }}"
    data-current-page="{{ page }}"
    data-query="{{ query }}"
    data-search-type="{{ search_type }}"
    data-art-type="{{ art_type }}"
    data-project-name="{{ project_name }}"
  >
    <!-- Results will be loaded here -->
  </div>
  <div id="loading" class="text-center mt-3" style="display: none">
    <div class="spinner-border text-primary" role="status">
      <span class="visually-hidden">Loading...</span>
    </div>
  </div>
  <div class="text-center mt-3">
    <button id="load-more" class="btn btn-secondary" style="display: none">
      Load More
    </button>
  </div>

  <div id="artwork-modal" class="modal">
    <div class="modal-content">
      <span class="close">&times;</span>
      <img id="modal-image" src="" alt="Artwork" />
      <div id="modal-title"></div>
      <a id="download-link" href="" download class="download-button"
        >Download Full Image</a
      >
    </div>
  </div>

  <script>
   
  </script>
  {% endif %}
</div>

<script src="{{ url_for('static', filename='js/search.js') }}"></script>
  <script>
    document.addEventListener('DOMContentLoaded', function() {
      initializeSearch({
        resultsContainer: document.getElementById('results-container'),
        loadMoreButton: document.getElementById('load-more'),
        loadingIndicator: document.getElementById('loading'),
        modal: document.getElementById('artwork-modal'),
        modalImage: document.getElementById('modal-image'),
        modalTitle: document.getElementById('modal-title'),
        downloadLink: document.getElementById('download-link'),
        fallbackImageUrl: "{{ url_for('static', filename='images/image_not_found.jpg') }}"
      });
    });
  </script>

{% endblock %}
